*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: "Circular Std",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    overflow: hidden;
}
.container{
    width: 80rem;
    margin: 0px auto;
    padding: 0%;
}
p{
    color: rgba(25, 24, 37, 0.75);
}
pre{
    font-family: "Circular Std",sans-serif;
}
a{ 
    color: black;
    text-decoration: none;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}
.bgr-img{
    z-index: -1;
    overflow: hidden;
    display: inline;
    position: absolute;
}
.sphere-shdw{
    width: 500px;
    height: 500px;
    opacity: 0.5px;    
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.login-con{
    display: flex;
    align-items: center;
    gap: 25px;
}
nav ul li{
    font-size: 15px;
    font-weight: 700;
    line-height: 16.8px;
    list-style-type: none;
}
.activenav{
    color: black;
}
nav ul li a{
    text-decoration: none;
    color:rgba(25, 24, 37, 0.5);
}
nav ul li a:hover{
    color: black;
}
 .login-con a{
    text-decoration: none;
    color: black;
}
.signup{
   padding: 16px 32px;
    border-radius: 100px;
    background-color:rgba(93, 80, 198, 1);
}
.signup-txt{
    color: white;
}
.home{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 80px;
}
.home-title{
    display: flex;
    flex-direction: column;
    gap: 43px;
    width:427px;
    height:548px;
}
.home-explore-btn a{
    display: flex;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07),0px 137px 137px 0px rgba(0, 0, 0, 0.06),0px 308px 185px 0px rgba(0, 0, 0, 0.04),0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    width:224px;
    height:56px;
    text-decoration: none;
    color:rgba(248, 94, 159, 1);
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
}
.home-head h1{
    font-size: 69px;
    font-weight: 700;
    line-height: 82.8px;
}
.home-para p{
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}
.heading-pre{
    color:rgba(248, 94, 159, 1);
    display: inline-block;
}
.home-start-btn{
    display: flex;
    gap: 15px;
}
.btn-start{
    width: 141px;
    height:49px;
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    background: rgba(93, 80, 198, 1);
    box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0);
    text-decoration: none;
    color: white;
}
.btn-demo{
    display: flex;
    color:rgba(34, 40, 49, 1);
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:181px;
    height:56px;
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1)
}
.h-img{
     display: flex;
     max-height: 632px;
     gap: 32px;
     align-items: center;
     justify-content: center;
}
.pic-col1{
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
     justify-content: center;
}
.pic-col2{
      display: flex;
      flex-direction: column;
    align-items: center;
     justify-content: center;   
}
.home-images{
    position: relative;
}
.float-content{
    position: absolute;
}
.round-home-send{
    top: 260px;
    left: -60px;
}
.round-home-add{
    bottom:-100px;
    right: 100px;
}
.home-top-places{
    box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05),0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
    width:166px;
    height:56px;
    background-color: white;
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    bottom: 150px;
    right: -100px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
}
.globe{
    top: -65px;
    left: -80px;
}
.part2{
    position: relative;
}
.brands{
    padding: 30px 0px;
    padding-bottom: 60px;
    margin-top:100px;
    display: flex;
    justify-content: space-between;  
}
.uparrow-bgr{
    display: inline;
   top: -90px;
   left:-100px;
   
}
.services-con{
    display: flex;
    align-items: center;
}
.services-text{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.services-text h2{
    width:444px;  
    color: rgba(248, 94, 159, 1);
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
}
.services-text h3{
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
}
.list-of-services{
      display: flex;
      gap:100px;
}
.list-of-services div{
    width:360px;
    height:443px;
    padding: 64px;
    border-radius: 32px; 
}
.divtext{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.div2{
    box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 41px 89px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    
}
.los{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.los h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
}
.los p{
    font-family: "Inter",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.yellow-bgr{
    width: 500px;
    height: 500px;
    display: inline;
    top:-50px;
    right: -310px;
}
.yellow-bgr img{
    width: 100%;
    height: 100%;
}
.div3{
    background-color: rgba(255, 255, 255, 1);
}
.part4{
    padding-top: 100px;
}
.cross-bgr{
    position: absolute;
    right: 30px;
    top: 1780px;
}
.p4-toppart{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 64px 0px;
}
.p4-toppart h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color: rgba(248, 94, 159, 1);
}
.p4-toppart h3{
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
}
.p4-toppart-txt{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mv-btn{
    display: flex;
    gap: 32px;
}
.arw-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;  
}
.left-arw{
    border: 1px solid rgba(25, 24, 37, 0.381)
}
.right-arw{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 7px 16px 0px rgba(0, 0, 0, 0.07), 0px 29px 29px 0px rgba(0, 0, 0, 0.06), 0px 65px 39px 0px rgba(0, 0, 0, 0.04), 0px 116px 46px 0px rgba(0, 0, 0, 0.01), 0px 181px 51px 0px rgba(0, 0, 0, 0);
    background: rgba(93, 80, 198, 1);
}
.places-list{
     display: flex;
     justify-content: space-between;
     margin-bottom: 100px;
}
.place{
    width:350px;
    height:575px;
}
.place-title{
    display: flex;
    justify-content: space-between;
}
.place-cnt{
    padding: 32px;
    border-radius: 0px 0px 32px 32px;
    height:255px;
    padding: 32px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),0px 32px 71px 0px rgba(0, 0, 0, 0.05),0px 128px 128px 0px rgba(0, 0, 0, 0.04),0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0);  
}
.place-title h2, .place-cnt h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
}
.place p{
    font-family: "inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px; 
}
.price{
  color:rgba(248, 94, 159, 1);
}
.place-cnt h3{
    color: rgba(255, 87, 34, 1);
}
.p5-cnt-box{
    width: 206.5px;
    height:151px;
    padding: 32px;
    border-radius: 32px;
    border:1px solid rgba(25, 24, 37, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
.part5{
    padding-bottom: 50px;
}
.p5-con{
    display: flex;
    position: relative;
   justify-content: space-between;
}
.p5-img{
    position: relative;
}
.girl{
    left: -80px;
}
.yellow-oval-bgr{
    width: 900px;
    height: 580px;
    position: absolute;
    left: -65%;
    top: 100px;
    z-index: -1;
    border-radius: 0px 500px 500px 0px;  
}
.round-sphere{
    position: absolute;
}
.p5-discount-con pre{
    top: 130px;
    right: -150px;
    position: absolute;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height:72px;
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03),0px 62px 62px 0px rgba(0, 0, 0, 0.02),0px 139px 83px 0px rgba(0, 0, 0, 0.01),0px 246px 99px 0px rgba(0, 0, 0, 0), 0px 385px 108px 0px rgba(0, 0, 0, 0);      
}
.b-purpleball{
    right: -150px;
    top: 0px;
}
.s-purpleball{
    left: 0px;
    top: 70px;
}
.yellowball{
    right: -150px;
    top: 195px;
}
.b-orangeball{
    right: 0px;
    bottom: 200px;
}
.s-orangeball{
     right: 90px;
     top: 290px;
}
.p5-float-icon{
    right:-120px;
    top: 240px;
}
.p5-cnt{
    max-width:445px;
    max-height:667px;
}
.p5-body-cnt{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 32px;
}
.p5-cnt-row1, .p5-cnt-row2{
    display: flex;
    gap: 32px;
}
.p5-head{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.p5-head h2{
    color: rgba(248, 94, 159, 1);
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em; 
}
.p5-head h3{
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
}
.p5-head p{
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}
.p5-body-cnt h4{
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    color: rgba(255, 87, 34, 1);
}
.p5-cnt-box p{
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}
.key-feature{
     display: flex;
     justify-content: space-between;
}
.key-feature-head{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 540px;
    max-height: 216px;
}
.key-feature-head h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color:rgba(248, 94, 159, 1);
}
.key-feature-head h3{
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;  
}
.key-feature-head p{
    font-family:" Inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}
.key-feature-cnt{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 30px 0px;
}
.key-fe {
    display: flex;
    padding: 32px;
    max-width:540px;
    max-height:164px;
    gap: 32px;
    border-radius: 32px;
    align-items: center;
}
.kf-cnt h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
}
.kf-cnt p{
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;  
}
.kf-tag{
    box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05),0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
    width:200px;
    height:56px;
    background-color: white;
    border-radius: 100px;
    position: absolute;
   display: flex;
   right: -50px;
   top: 160px;
   justify-content: center;
   align-items: center;
   color: black;
}
.kf-tag a{
    display: flex;
    gap: 5px;
    justify-content: center;
   align-items: center;
}
.kf-tag img{
    width: 30px;
    height: 30px;
}
.k-feature-2{
    border: 1px solid rgba(25, 24, 37, 0.1);
}
.kf-cnt{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.key-feat-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kf-img-top{
    max-width: 443px;
    max-height: 665px;
}
.kf-img-top img{
    width: 100%;
    height: 100%;
    border-radius: 500px;
}
.kf-float{
    position: absolute;
}
.kf-img-bottom{
    bottom: -40px;
    right: -70px;
}
.kf-bgr-img{
    top: -20px;  
    right: -250px;
    z-index: -1;
}
.part7{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.testimonials-bgr{
    position: absolute;
    top: -480px;
    z-index: -1;
}
.testimonials-bgr img{
    width: 1900px;
}
.testimonials-con{
    display:flex;
    flex-direction: column;
    padding: 100px 0px;
    max-width: 940px;
    justify-content: center;
    align-items: center;
}
.testimonials-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.testimonials-head h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color: rgba(248, 94, 159, 1); 
}
.testimonials-head h3{
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
}
.testimonials-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials-icon{
      padding: 60px;
}
.testimonials-cnt pre{
    display: inline-block;
    color: rgba(255, 87, 34, 1);
}
.testimonials-cnt h4{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
}
.test-star{
    padding: 40px;
}
.test-p p{
    font-size: 23px;
    font-weight: 450;
    line-height: 36.8px;
    text-align:center;
}
.pageswitch-icon{
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.test-mv-leftbtn{
  position: absolute;
  left: 0px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(25, 24, 37, 0.1)
}
.test-mv-rightbtn{
    position: absolute;
    right: 0%;
}
.form-box{
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
    background: rgba(250, 205, 73, 0.08);
    padding: 128px 64px 128px 64px;
    border-radius: 32px;   
}
.form-box-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
}
.form-con img{
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;
   
}
.form-input{
    width:683px;
    height:96px;
    padding: 32px 64px 32px 64px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    border-radius: 32px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 1);
}
.form-con{
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: center;  
    gap: 64px;
}
.form-box-head h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color: rgba(248, 94, 159, 1);
}
.form-box-head h3{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    line-height: 66px;
}
.form-btn a{ 
    padding: 32px 64px 32px 64px;
    background: rgba(93, 80, 198, 1);
    border-radius: 32px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.part8{
    position: relative;
    padding-bottom: 40px;
}
.form-bgr{
    position: absolute;
    display: inline;
    z-index: 1;
    top:-50px;
    left: -50px;
}
.form-side-design{
    position: absolute;
    display: inline;
   top: 5300px;
   right:0%;
}
.footer{
    display: flex;
    justify-content: space-between;
    gap: 153px;
    padding-top: 100px;
}
.ftr-cnt{
    width: 278px;
    height:353px;
    display: flex;
    gap: 64px;
    flex-direction: column;
}
.ftr-cnt-1{
    display: flex;
    flex-direction: column;
     gap: 32px;
}
.footer-nav{
    display: flex;
    gap: 121px;
}
.ftr-nav ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ftr-nav ul li{
    list-style: none;
}

.ftr-cnt-1 p{
    font-size: 23px;
    font-weight: 450;
    line-height: 36.8px;
    color: rgba(25, 24, 37, 0.5);
}
.ftr-social-cnt{
    display: flex;
    gap: 32px;
}
.ftr-nav ul li h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: black;

}
.ftr-nav ul li a{
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: rgba(25, 24, 37, 0.75);
}
.copy-right{
  text-align: center;
  padding: 50px 0px 30px 0px;
}
.sidebar-cnt{
    display: none;
}
@media (max-width:1500px) {
    .container{
        width: 80%;
    }
    nav ul{
        gap: 70px;
    }
    .globe {
        top: -65px;
        left: -120px;
    }
    .uparrow-bgr {
        top: -100px;
        left: -90px;
    }
    .list-of-services div{
        max-width: 300px; 
        max-height: 403px; 
        padding: 64px; 
    }
    .list-of-services{
        gap: 70px;
    }
    .place img{
        max-width: 320px;
        max-height: 320px;
    }
    .place{
        width: unset;
    }
    .place-cnt{
        max-width: 320px;
    }
    .place-title h2, .place-cnt h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 27.6px;
    }
    .cross-bgr {
        right: 5px;
        top: 1780px;
    }    
}
@media (max-width:1400px){
    .yellow-oval-bgr {
        width: unset;
    }
    .p5-discount-con pre {
        top: 160px;
        right: -50px;
        max-width: 220px;
        font-size: 17px;
        max-height: 50px;
    }
    .yellowball {
        right: -40px;
        top: 200px;
        width: 30px;
        height: 30px;
    }
    .b-purpleball {
        right: -40px;
        top: 0px;
        height: 90px;
        width: 90px;
    }

}

@media (max-width:1300px){
    .brands img{
      max-height: 25px;
    }
    .list-of-services {
        gap: 10px;
    }
    .yellow-oval-bgr {
        max-width:680px;
    }
    .p5-img{
        max-width: 495px;
        max-height: 700.2px;
    }
    .girl{
        max-width: 475px;
        max-height: 677px;
    }
    .ftr-cnt{
        height: unset;
    }
    .ftr-cnt-1 p{
        font-size: 18px;
    }
    .form-input{
        max-width: 500px;
        height: unset;
    }
    .form-btn a{
        padding-left: 56px;
        padding-right: 56px;
    }
    .form-con{
        gap: 50px;
    }
}
@media (max-width:1200px){
    nav ul{
        gap: 40px;
    }
    nav ul li{
        font-size: 14px;
    }
    .home-top-places{
        right: -50px;
    }
    .pic-col1 img{
      max-width: 230px;
      max-height: 270px;
    }
    .pic-col2 img{
        max-width: 230px;
        max-height: 370px;
    }
    .globe{
        max-width: 730px;
        max-height: 258px;
    }
    .globe {
        top: -65px;
        left: -70px;
    }
    .globe img{
        width: 100%;
        height: 10%;
    }
    .home-head h1 {
        font-size: 60px;
    }
    .home-para p {
        font-size: 16px;
        font-weight: 600;
        line-height: 28.8px;
    }
    .h-img{
        gap: 25px;
    }
    .round-home-send {
        top: 230px;
        left: -40px;
        max-width: 86px;
        max-height: 142px;
    }
    .round-home-add {
        bottom: -70px;
        right: 110px;
        max-width: 86px;
        max-height: 142px;
    }
    .home-top-places{
        padding: 12px 28px;
        width: unset;
        height: unset;

    }
    .services-text{
        max-width: 350px;
    }
    .services-text h3{
        font-size: 35px;
    }
    .list-of-services div{
        padding: 30px;
    }
    .list-of-services .los{
        width: 270px;
    }
    .los p{
        font-size: 17px;
    }
    .list-of-services div{
        width: unset;
        height: unset;
    }
    .place img, .place-cnt{
        max-width: 250px;
        max-height: 250px;
    }
    .place-title h2{
        font-size: 15px;
    }
    .place p{
        font-size: 15px;
    }
    .place-title h3{
        font-size: 16px;
    }
    .girl{
        max-width: 400px;
        height: 600px;
        position: absolute;
        top: 20px;
        left: -20px;
    }
    .p5-img{
        flex-basis:50%;
    }
    .yellow-oval-bgr{
        width: 600px;
        height: 500px;
    }
    .p5-cnt{
        flex-basis: 40%;
        width: unset;
        height: unset;
    }
    .b-purpleball{
        right: 40px;
    }
    .p5-discount-con pre{
      right: 30px;
      font-size: 14px;
      width: unset;
      height: unset;
      padding: 10px 15px;
    }
    .p5-discount-con img{
        height: 20px;
        width: 20px;
       
    }
    .yellowball{
        right: 40px;
    }
    .b-orangeball{
        right: 70px;
    }
    .s-orangeball{
        right: 120px;
    }
    .p5-con{
        gap: 40px;
    }
    .p5-cnt-row1,p5-cnt-row2,.p5-body-cnt{
        gap: 20px;
    }
    .p5-cnt-box{
        width: 160px;
        height: 130px;
        gap: 0px;
        justify-content: center;
        align-items: center;
    }
    .p5-head{
        gap: 10px;
    }
    .p5-head p{
        font-size: 14px;
    }
    .p5-head h3{
        font-size: 38px;
    }
    .p5-float-icon{
        width: 177px;
        height: 223px;
    }
    .p5-float-icon img{
       width: 100%;
       height: 100%;
    }
    .p5-body-cnt h4{
        font-size: 28px;
    }
    .p5-body-cnt p{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .kf-bgr-img{
        top: 30px;
        right: -200px;
    }
    .footer{
        gap: 100px;
    }
    .footer-nav{
        gap: 80px;
    }
    .ftr-cnt-1 p{
        line-height: 25px;
    }
    .ftr-cnt{
        gap: 40px;
    }
    .cross-bgr {
        right: 5px;
        top: 1680px;
    }
}
@media (max-width:1000px){
    .home{
        gap: 40px;
    }
    nav ul li{
        font-size: 12px;
    }
    nav ul{
        gap: 20px;
    }
    .logo{
        width: 100px;
        height: 30px;
    }
    .logo img{
        width: 100%;
        height:100%;
    }
    .signup{
        padding: 12px 20px;
    }
    .login a, .signup a{
        font-size: 13px;
    }
   .pic-col1 img{
     width: 200px;
     height: 240px;
   }
   .pic-col2 img{
     width: 200px;
     height: 300px;
   }
   .home-head h1{
     font-size: 45px;
     line-height: 50px;
   }
   .home-para p{
     font-size: 14px;
   }
   .btn-start{
     width: 120px;
     height: 49px;
   }
   .btn-demo{
      width: 120px;
      height: 49px;
   }
   .btn-demo pre{
    font-size:12px; 
  }
   .btn-start pre{
    font-size: 12px;
   }
   .round-home-send{
     top: 210px;
   }
   .round-home-add {
    bottom: -30px;
    right: 110px;
    max-width: 86px;
    max-height: 142px;
}
.brands img{
     max-height: 20px;
     max-width: 120px;
}
.uparrow-bgr{
    max-height: 150px;
    max-width: 40px;
}
.uparrow-bgr img{
    width: 100%;
    height: 100%;
}
.uparrow-bgr {
    top: -60px;
    left: -50px;
}
.services-text{
    width: 270px;
}
.services-text h2{
    width: unset;
}
.services-text h3{
    width: 200px;
    font-size: 30px;
}
.los img{
    width: 50px;
    height: 50px;
}
.los h3{
    font-size: 18px;
}
.los p{
    font-size: 15px;
    font-weight: 550;
    line-height: 25px;
}
.services-con{
    padding-top: 40px;
}
.list-of-services .los {
    width: 270px;
    height: 360px;
    padding: 20px;
}
.p4-toppart h2{
  font-size: 20px;
}
.p4-toppart h3{
    font-size: 33px;
}
.arw-btn{
    width: 70px;
    height: 70px;
}
.place{
    height: unset;
}
.place-cnt{
    padding: 26px;
    max-width: unset;
    width: unset;
    max-height: 180px;
}
.place{
    width: 200px;
    height: 200px;
}
.place-title h2{
    font-size: 12px;
    line-height: 20px;
}
.place p{
    font-size: 12px;
}
.place h3{
    font-size: 15px;
}
.place img{
    height: 100%;
    width: 100%;
}
.places-list{
    height: 440px;
}
.cross-bgr{
    width: 70px;
    height: 70px;
}
.cross-bgr img{
    width: 100%;
    height: 100%;
}
.yellow-oval-bgr{
    width: 550px;
    height: 400px;
    left: -45%;
    top: 70px;
}
.s-purpleball {
    left: -40px;
    top: 60px;
    max-width: 25px;
    max-height: 25px;
}
.s-orangeball{
    right: 70px;
    top: 240px;
}
.p5-img{
    position: relative;
    max-width: unset;
    width: unset;
    max-height: unset;
}
.girl-img{
    height: 474px;
    width: 354px;
    position: absolute;
    right: 30px;
}
.girl{
    width: 100%;
    height: 100%;
    position:unset;
}
 .p5-head h3{
    font-size: 25px;
    line-height: 40px;
 }
.p5-head p{
    font-size: 12px;
    font-weight: 550;
}
.b-orangeball{
    bottom: 100px;
    right: 40px;
}
.p5-discount-con pre {
    right: -20px;
    top: 80px;
    font-size: 14px;
    width: unset;
    height: unset;
    padding: 10px 13px;
    font-size: 12px;
}
.yellowball {
    right: 40px;
    width: 15px;
    height: 15px;
    right: -20px;
    top: 120px;
}
.b-purpleball {
    right: 40px;
    height: 60px;
    width: 60px;
}
.p5-cnt-box {
    width: 130px;
    height: 100px;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
.p5-body-cnt h4{
    font-size: 20px;
}
.p5-body-cnt p{
    font-size: 12px;
    line-height: 12px;
}
.p5-float-icon{
    width: 150px;
    height: 190px;
    right: -50px;
    top: 220px;
}
.key-feature-head h2 {
    font-size: 20px;
}
.key-feature-head h3{
    font-size: 30px;
    line-height: 40px;
}
.key-feature-head p{
        font-size: 15px;
        font-weight: 550;
}
.key-feature{
    gap: 25px;
}
.key-fe{
    width: unset;
    max-width: unset;
    padding: 25px;
}
.key-fe img{
    width: 60px;
    height: 60px;
}
.kf-cnt h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}
.kf-cnt p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.kf-img-bottom{
    max-width: 300px;
    max-height: 550px;
}
.kf-img-bottom img{
    width: 100%;
    height: 100%;
}
.kf-tag{
    width: 180px;
}
.testimonials-head h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}
.testimonials-head h2 {
    font-size: 20px;
}
.testimonials-cnt h4 {
    font-size: 22px;
}
.test-star img{
    width: 180px;
    height: 25px;
}
.test-p p {
    font-size: 20px;
    font-weight: 450;
    line-height: 30px;
}
.pageswitch-icon img{
    width: 20px;
    height: 20px;
}
.form-box-head h2 {
    font-size: 20px;
}
.form-box-head h3 {
    font-size: 40px;
    line-height: 50px;
}
.form-input{
    width: 400px;
    font-size: 20px;
}
.form-con img{
    height: 25px;
    width: 30px;
    padding-left: 0%;
    margin-left: 20px;
}
.form-btn a{
    padding:25px 30px;
    font-size: 20px;
}
.form-side-design{
    top: 4600px;
}
.footer-nav{
    gap: 40px;
}
.ftr-nav ul li a {
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
}
.ftr-nav ul{
    gap: 25px;
}
pre{
    font-weight: 550;
}
}
@media (max-width:860px){
     .home{
        gap: 0px;
     }
    .home-title{
        gap: 30px;
    }
    .home{
        padding-top: 30px;
    }
    .home-explore-btn a{
        font-size: 12px;
        height: 46px;
        width: 200px;
    }
    .home-head h1{
        font-size: 35px;
    }
    .btn-start , .btn-demo{
        width: unset;
        height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
    .home-title pre{
        letter-spacing: 1px;
    }
    .globe{
        top: -35px;
    }
    .h-img{
        gap: 15px;
    }
    .pic-col1{
        gap: 15px;
    }
    .home-para p{
        line-height: 20px;
    }
    .h-img img{
        width: 170px;
        height: 200px;
    }
    .round-home-send{
        top: 170px;
    }
    .home-title{
        height: unset;
    }
    .round-home-add{
        bottom: -60px;
        right: 70px;
    }
    .list-of-services .los{
        width: 220px;
        height: 320px;
    }
    .services-text h3{
        font-size: 25px;
        line-height: 40px;
    }
    .los h3{
      font-size: 15px;
    }
    .los p{
        font-size: 12px;
        letter-spacing: 0.1rem;
    }
    .cross-bgr{
        top:1400px;
    }
    .yellow-oval-bgr{
        left: -80%;
    }
    .b-orangeball{
        width: 25px;
        height: 25px;
        right: 0px;
    }
    .girl-img{
        right: 0%;
    }
    .place-title h2{
        letter-spacing:0.3px;
        font-size: 12px;
    }
    .p5-head p{
        letter-spacing: 0.9px;
    }
    .p5-body-cnt p{
        letter-spacing: 0.9px;
    }
    .form-bgr{
        width: 100px;
        height: 100px;
    }
    .form-bgr img{
        width: 100%;
        height: 100%;
    }
    .form-box-head h3{
        font-size: 30px;
    }
    .form-input{
        font-size: 16px;
        padding: 25px 30px;
        padding-left: 60px;
    }
    .form-btn a{
        font-size: 16px;
    }
    .form-con{
        gap: 20px;
    }
    .footer{
        gap: 70px;
    }
    .ftr-cnt-1 p{
        line-height: 20px;
        font-size: 16px;
        font-weight: 550;
    }
    .footer-nav{
        gap: 30px;
    }
    .ftr-nav ul li h2{
        font-size: 20px;
    }

}

@media (max-width:777px){
    nav ul{
        gap: 10px;
    }
    nav ul li{
        font-size: 10px;
    }
    .btn-start, .btn-demo{
        padding: 5px 10px;
    }
    .btn-start pre, .btn-demo pre{
        font-size: 10px;
    }
    .home-head h1{
        font-size: 30px;
    }
    .home{
        gap: 20px;
    }
    .home-para p{
        font-size: 12px;
    }
    .home-explore-btn a{
        width: 170px;
        height: 40px;
        font-size: 10px;
    }
    .home-explore-btn img{
        width: 20px;
        height: 20px;
    }
    .btn-demo{
        gap: 5px;
    }
    .btn-demo img{
        width: 20px;
        height: 20px;
    }
    .home-top-places{
        padding: 5px 10px;
    }
    .home-top-places pre{
        font-size: 10px;
    }
    .home-head h1{
        font-size: 25px;
        line-height: 40px;
    }
    .globe{
        left: -40px;
    }
    .pic-col2 img{
        height: 230px;
    }
    .btn-demo pre , .btn-start{
        font-size: 8px;
        font-weight: 500;
    }
    .brands img{
        max-width: 100px;
        max-height: 15px;
    }
    .services-text{
        max-width: 150px;
    }
    .services-con{
        gap: 10px;
    }
    .services-text h2{
      font-size: 20px;
    }
    .services-text h3{
        font-size: 18px;
        width: unset;
        line-height: 30px;
    }
    .divtext{
        gap: 20px;
        padding: 10px;
    }
    .los p{
        line-height: 19px;
    }
    .list-of-services .los{
        padding: 0px;
    }
    .p4-toppart h2{
        font-size: 16px;
    }
    .p4-toppart h3{
        font-size: 25px;
    }
    .place{
        width: 180px;
        height: 170px;
    }
    .place-title h2{
        font-size: 10px;
    }
    .place-title{
        gap: 5px;
    }
    .place1 h2{
        letter-spacing: unset;
    }
    .places-list{
        height: 300px;
    }
    .place-cnt{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 150px;
    }
    .girl-img{
        width: 300px;
        height: 400px;
    }
    .p5-head p{
        line-height: 15px
    }
    .p5-head h3{
        font-size: 20px;
        line-height: 28px;
    }
    .p5-head h2{
        font-size: 20px;
    }
    .p5-body-cnt{
        padding-top: 25px;
    }
    .yellow-oval-bgr{
        height: 310px;
        width: 500px;
        top:80px ;
    }
    .s-orangeball{
        top: 180px;
    }
    .b-orangeball{
        right: 30px;
    }
    .key-feature-head{
        gap: 10px;
    }
    .key-feature-head h3{
        font-size: 20px;
    }
    .key-feature-head p{
        font-size: 12px;
        line-height: 15px;
    }
    .p5-body-cnt{
        gap: 10px;
    }
    .p5-cnt-row1, .p5-cnt-row2{
        gap: 10px;
    }
    .p5-float-icon{
        width:100px;
        height:125px;
        top:180px;
        right: -20px;
    }
    .p5-con{
        gap: 10px;
    }
    .p5-body-cnt h4{
       font-size: 15px;
       line-height: 20px;
    }
    .p5-body-cnt p{
        font-size: 10px;
    }
    .p5-cnt-box{
        width: 100px;
        height: 80px;
    }
    .kf-cnt h3 {
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
    }
    .kf-cnt{
        gap: 5px;
    }
    .kf-cnt p {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
    .key-fe{
        padding: 18px;
    }
    .key-fe img{
        width: 40px;
        height: 40px;
    }
    .kf-bgr-img{
        width: 398px;
        height: 222px;
        right: -150px;
        top: -10px;
    }
    .kf-tag{
        top: 80px;
    }
    .key-feature-cnt{
        gap: 32px;
    }
    .kf-img-bottom{
        width: 250px;
        height: 360px;
    }
    .key-feature{
        gap: 15px;
    }
    .kf-bgr-img img{
        width: 100%;
        height: 100%;
    }
    .testimonials-head h3{
        font-size: 25px;
        padding-bottom: 30px;
    }
    .testimonials-icon{
        width: 80px;
        height: 80px;
        padding: 0px;
    }
    .testimonials-cnt{
        padding-top: 30px;
    }
    .testimonials-icon img{
        width:100%;
        height:100%;
    }
    .testimonials-bgr img{
        max-width: 800px;
        position: absolute;
        top: 400px;
        right:-400px ;
    }
    .test-p p {
        font-size: 15px;
        font-weight: 450;
        line-height: 20px;
    }
    .test-star{
        padding: 25px;
    }
    .form-side-design{
        top: 4000px;
        width: 60px;
        height: 200px;
    }
    .form-side-design img{
        width: 100%;
        height: 100%;
    }
    .form-box-head h2{
        font-size: 18px;
    }
    .form-box-head h3{
        font-size: 20px;
        line-height: 30px;
    }
    .form-input {
        font-size: 12px;
        padding: 15px 20px;
        padding-left: 60px;
    }
    .form-con img{
        height: 20px;
        width: 25px;
    }
    .form-con{
        gap: 0px;
    }
    .form-btn a{
        padding: 15px 20px;
        font-size: 12px; 
    }
    .footer{
        gap: 40px;
    }
    .footer-nav ul li h2{
        font-size: 13px;
    }
    .footer-nav ul{
        gap: 15px;
    }
    .footer-nav ul li a{
        font-size: 11.5px;
    }
    .ftr-cnt-1 p{
        font-size: 12px;
    }
    .ftr-cnt-1 div{
     width: 100px;
     height: 30px;
    }
    .ftr-cnt-1 img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width:700px){
    .login a, .signup a{
        font-size: 11px;
    }
    .signup{
        padding: 10px 14px;
    }
    .logo{
        width: 80px;
        height: 20px;
    }
    .home-explore-btn a{
        width: 130px;
        height: 20px;
        font-size: 8px;
        font-weight: 700;
    }
    .home-explore-btn img{
        width: 15px;
        height: 15px;
    }
    .home-head h1{
        font-size: 25px;
        line-height: 25px;
    }
    .h-img img{
      width: 120px;
      height: 150px;
    }
    .pic-col2 img{
        height: 160px;
    }
    .home-top-places{
        position: absolute;
        bottom: 100px;
        right: -30px;
    }
    .uparrow-bgr{
        width: 22px;
        height: 50px;
        top: -30px;
    }
    .brands{
        margin-top: 60px;
    }
    .services-con{
        padding-top: 30px;
    }
    .services-text h2 {
        font-size: 18px;
    }
    .services-text h3{
        font-size: 19px;
        line-height: 20px;
    }
    .list-of-services div {
        padding: 30px;
    }
    .los p{
        font-size: 10px;
        line-height: 13px;
    }
    .los img{
        width: 30px;
        height: 30px;
    }
    .list-of-services .los{
        width: 170px;
        height: 260px;
    }
    .list-of-services div{
        padding-top:10px ;
    }
    .round-home-send {
        top: 130px;
    }
    .round-home-add {
       bottom: -70px;
       right: 20px;
    }
    .place{
        width: 160px;
        height: 145px;
    }
    .places-list{
        gap: 10px;
    }
       .place-cnt{
      height: 135px;
    }
    .place-title h2{
        line-height: 10px;
    }
    .place p {
        font-size: 10px;
        line-height: 10px;
    }
    .cross-bgr {
        top: 1200px;
        height:40px ;
        width: 40px;
    }
    .yellow-oval-bgr {
        height: 310px;
        width: 400px;
        top: 80px;
    }
    .p5-discount-con pre{
        font-size: 8px;
        padding: 5px 10px;
        right: 0px;
    }
    .yellowball{
        right: 0px;
    }
    .key-fe{
        gap: 20px;
    }
    .kf-img-bottom{
        width: 200px;
        height: 300px;
        bottom: -50px;
        right: -40px;
    }
    .kf-bgr-img {
        width: 280px;
        height: 150px;
        right: -150px;
        top: -20px;
        right: -100px;
    }
    .kf-tag{
        width: 180px;
        height: 40px;
        top: 80px;
    }
    .kf-tag pre{
        font-size: 12px;
    }
    .part5{
        padding-bottom: 100px;
    }
    .kf-cnt h3 {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }
    .kf-cnt p{
        font-size: 10px;
        line-height: 12px;
    }
    .key-fe{
        padding: 10px;
    }
    .testimonials-head h2 {
        font-size: 16px;
    }
    .testimonials-head h3 {
        font-size: 20px;
        padding-bottom: 30px;
    }
    .testimonials-head{
        gap: 0px;
    }
    .testimonials-cnt h4 {
        font-size: 15px;
    }
    .test-p p{
        font-size: 12px;
        font-weight: 550;
    }
    .testimonials-bgr img {
        max-width: 800px;
        position: absolute;
        top: 380px;
        right: -400px;
    }
    .pageswitch-icon img {
        width: 15px;
        height: 15px;
    }
    .form-box{
        padding: 70px 40px;
    }
    .form-bgr {
        top:-25px;
        left: -10px;
    }
    .form-box-head h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .form-input{
        width: 300px;
        padding: 10px 15px;
        font-size: 10px;
        padding-left: 40px;
    }
    .form-con img {
        height: 10px;
        width: 12px;
    }
    .form-btn a{
        padding: 10px 15px;
    }
    .form-box{
        gap: 35px;
    }
    .footer-nav {
        gap: 20px;
    }
    .footer-nav ul li a {
        font-size: 10px;
    }
    .ftr-social-cnt img{
      width: 20px;
      height:20px;
    }
    .ftr-social-cnt {
        gap: 20px;
    }
    .copy-right p {
        font-size: 10px;
    }
    .form-side-design{
        top: 3500px;
    }
    .mv-btn{
        gap: 20px;
    }
}
@media (max-width:600px){
    .kf-bgr-img{
        top: 10px;
    }
    .kf-tag{
            width: 180px;
            height: 40px;
            top: 100px;
    }
}
@media (max-width:550px){
    nav{
        display: none;
    }
    .home{
        flex-direction: column;
        gap: 40px;
    }
    .sphere-shdw{
        width: 300px;
        height: 300px;
    }
    .sphere-shdw img{
        width: 100%;
        height: 100%;
    }
    .login-con{
        display: none;
    }
    .sidebar-cnt{
        display: unset;
        display: flex;
        gap: 10px;
    }
    .globe{
        top: -20px;
        left: -10px;
    }
    .home-explore-btn{
        display: inline-block;
    }
    .round-home-send , .round-home-add{
        max-width: 70px;
        max-height: 70px;
    }
    .round-home-send{
        left: 80px;
        top: 100px;
    }
    .round-home-add{
        bottom: -15px;
        right: 120px;
    }
    .h-img{
        gap: 10px;
        margin-bottom: 30px;
    }
    .btn-start pre , .btn-demo pre{
      font-size: 10px;
    }
    .btn-start, .btn-demo{
        padding: 10px 15px;
    }
    .home-para p {
        font-size: 10px;
        line-height: 14px;
    }
    .home-head h1{
        font-size: 22px;
    }
    .h-img img{
        width: 100px;
        height: 120px;
    }
    .pic-col2 img{
        width: 90px;
        height:130px;
    }
    .home-top-places pre {
        font-size: 9px;  
}
    .home-top-places{
        padding: 6px 10px;
        right: 60px;
        bottom: 100px;
    }
    .home-title{
        width: unset;
    }
    .brands img{
        max-width:80px ;
        max-height:15px ;
    }
    .brands {
        margin-top: 40px;
    }
    .uparrow-bgr {
        top: -20px;
        left: -30px;
    }
    .services-text h2 {
        font-size: 15px;
    }
    .services-text h3 {
        font-size: 13px;
    }
    .services-con{
        flex-direction: column;
    }
    .services-text {
        gap: 10px;
        text-align: center;
    }
    .services-text h3{
        text-align: center;
    }
    .los p{
        font-size: 10px;
    }
    .los h3 {
        font-size: 10px;
        line-height: 15px;
    }
    .list-of-services{
        padding-left: 150px;
    }
    .list-of-services .los {
        width: 200px;
        height: 300px;
    }
    .part4{
        padding-top: 60px;
    }
    .p4-toppart h2 {
        font-size: 15px;
    }
    .p4-toppart h3 {
        font-size: 15px;
        line-height: 20px;
    }
    .arw-btn{
        width: 40px;
        height: 40px;
    }
    .p4-toppart{
        padding: 30px 0px;
    }
    .place{
        height: unset;
        width: unset;
    }
    .p5-head h2 {
        font-size: 15px;
    }
    .p5-head h3 {
        font-size: 14px;
        line-height: 28px;
    }
    .p5-cnt-box{
        gap: 10px;
    }
    .key-feature-head h2{
        font-size: 15px;
    }
    .key-feature-head h3 {
        font-size: 14px;
    }
    .kf-tag{
        top: 50px;
        right: 40px;
}
    .places-list{
        padding-top: 40px;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: unset;
    }
    .place-cnt{
        width: 250px;
    }
    .place-title h2 {
        line-height: 15px;
    }
    .cross-bgr {
        top: 1400px;
        right: 20px;
        height: 70px;
        width: 70px;
    }
    .p5-con{
        flex-direction: column-reverse;
    }
    .p5-head{
        text-align: center;
    }
    .p5-img{
        height: 500px;
        max-height: 500px;
        flex-basis: unset
    }
    .p5-cnt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .yellow-oval-bgr {
        width: 800px;
        height: 400px;
        left: -70%;
    }
    .girl-img {
        height: 474px;
        width: 354px;
        right: 30px;
        top: 20px;
    }
    .p5-cnt-box {
        width: 160px;
        height: 130px;
    }
    .p5-body-cnt {
        gap: 10px;
    }
    .b-orangeball {
        right: 60px;
        bottom: 150px;
    }
    .s-orangeball {
        top: 240px;
        right: 90px;

    }
    .s-purpleball{
        left: 0px;
        top: 70px;
    }
    .p5-float-icon{
        top: 120px;
        right: 0px;

    }
    .p5-discount-con pre {
        top: 120px;
        right: -10px;
        max-width: 220px;
        font-size: 13px;
        max-height: 50px;
    }
    .key-feature{
        flex-direction: column;
        gap: 30px;
    }
    .key-feature-cnt{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .key-fe {
        padding: 32px;
        max-width: 540px;
        max-height: 164px;
        gap: 32px;
        border-radius: 32px;
        align-items: center;
    }
    .kf-cnt h3 {
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
    }
    .kf-cnt p {
        font-size: 12px;
        font-weight: 550;
        line-height: 22px;
    }
    .kf-img-top {
        max-width: 250px;
        max-height: 350px;
    }
    .kf-img-bottom{
        right: 30px;
        bottom: -130px;
    }
    .kf-bgr-img{
        top: -50px;
        right: -70px;
    }
    .testimonials-con{
        padding-top: 180px;
    }
    .testimonials-bgr{
        top: -400px;
    }
    .form-box{
        padding: 50px;
    }
    .form-box-head h2 {
        font-size: 15px;
        line-height: 20px;
    }
    .form-box-head h3 {
        font-size: 16px;
        line-height: 18px;
    }
    .ftr-cnt-1 p {
        font-size: 10px;
    }
    .form-side-design{
        top: 5700px;
    }
    .footer {
        gap: 30px;
        flex-direction:column;
    }
    .footer-nav{
        justify-content: space-between;
    }
    .ftr-cnt{
        gap: 20px;
    }
}
@media (max-width:480px){
.round-home-add{
    right: 80px;
  }
  .round-home-send{
   left: 65px;
  }
  .home-top-places{
    right: 30px;
  }
.brands{
    padding-bottom: 30px;
}
.list-of-services{
    padding-left: 170px;
}
.los p{
    font-size: 10px;
}
.list-of-services .los {
    width: 180px;
    height: 300px;
}
.kf-tag{
    top: 40px;
    right: 10px;
}
.services-con{
    gap: 40px;
}
.yellow-oval-bgr{
    left: -90%;
}
.part5{
    padding-bottom: 65px;
}
.b-purpleball{
    top: 20px;
}
.form-input{
    width: 200px;
}
.footer {
    gap: 12px;
}
.footer-nav ul li a {
    font-size: 9px;
}
.footer-nav ul li h2 {
    font-size: 10px;
}
.ftr-cnt-1 p{
    line-height: 12px;
}
.ftr-cnt-1{
    gap: 20px;
}
.footer-nav ul{
    gap: 10px;
}
.ftr-cnt-1 img{
    width: 80px;
    height: 25px;
}
}
@media (max-width:435px){
    .round-home-add{
      right: 80px;
    }
    .round-home-send{
     left: 50px;
    }
    .home-top-places{
      right: 30px;
    }

    .services-con{
        gap: 25px;
    }
    .list-of-services .los {
        width: 180px;
        height: 270px;
    }
    .cross-bgr{
        right: 5px;
    }
    .yellow-oval-bgr {
        left: -60%;
        height: 300px;
        width:500px;
    }
    .girl-img{
        width: 250px;
        height: 350px;
        top: 40px;
        right: 90px;
    }
    .p5-discount-con pre{
        top: 100px;
        right: 20px;
    }
    .yellowball{
        top: 130px;
        right: 20px;
    }
    .s-orangeball{
        top: 210px;
        right: 110px;
    }
    .b-orangeball{
        bottom: 220px;
        right: 80px;
    }
    .p5-img{
        max-height: 350px;
    }
    .kf-img-bottom{
        right: 0px;
    }
    .testimonials-icon{
        width: 55px;
        height: 55px;
    }
    .testimonials-cnt h4 {
        font-size: 12px;
    }
    .test-star img {
        width: 150px;
        height: 20px;
    }
    .form-side-design{
      top: 5600px;
    }
    .footer {
        padding-top: 60px;
    }
}
@media (max-width:400px){
    .home-explore-btn a{
        padding: 15px 20px;
    }
    .round-home-add{
        right: 80px;
      }
      .round-home-send{
       left: 40px;
      }
      .home-top-places{
        right: 30px;
      }
    .list-of-services .los {
        width: 149px;
        height: 240px;
    }
    .list-of-services {
        padding-left: 120px;
    }
    .p5-cnt-box {
        width: 130px;
        height: 100px;
    }
    .p5-float-icon{
        top: 140px;
        right: -30px;
    }
    .yellow-oval-bgr{
        left: -90%;
    }
    .girl-img {
        right: 50px;
    }
    .p5-discount-con pre{
        right: 0px;
        font-size: 10px;
        padding: 5px 10px;
        right: 0px;
    }   
    .b-orangeball{
        width: 15px;
        height: 15px;
        bottom: 100px;
    }
    .s-orangeball{
        width: 8px;
        height: 8px;
    }  
    .brands img{
        max-width: 60px;
    }
    .kf-cnt h3{
        font-size: 12px;
    }
    .kf-cnt p{
        font-size: 10px;
        line-height: 15px;
    }
    .pageswitch-icon{
        padding-top: 30px;
    }
    .test-star{
        padding: 15px;
    }
    .form-btn a {
        padding: 10px 15px;
        font-size: 10px;
    }
    .form-input{
        width: 180px;
    }
    .form-side-design {
        top: 5460px;
    }
    .footer-nav{
        gap: 10px;
    }
    .ftr-cnt-1 p {
        font-size: 8px;
        line-height: 10px;
    }
    .ftr-cnt-1 div{
        width: 80px;
        height: 25px;
    }
    .ftr-cnt-1 img{
        width: 100%;
        height: 100%;
    }
    .ftr-social-cnt {
        gap: 5px;
    }
    .ftr-social-cnt img {
        width: 15px;
        height: 15px;
    }
    .footer-nav ul li a {
        font-size: 8px;
        letter-spacing: 0cap;
    }
    .cross-bgr{
        height: 50px;
        width: 50px;
        top: 1400px;
    }
}
@media (max-width:376px){

    .round-home-add{
        right: 60px;
      }
      .round-home-send{
       left: 25px;
      }
      .home-top-places{
        right: 20px;
      }
    .brands{
        gap: 10px;
    }
    .cross-bgr{
        top: 1320px;
    }

}  
